.App{
  height:100vh;
  
  
}


@media screen and (max-width:768px){
  .App{
    background-color: darkcyan;
  } 
}

@media screen and (max-width:425px){
  .App{
    background-color: darkmagenta;
  }
}