*{
  font-size: 14px;
}

.Layout{
  text-decoration: none;
  color: #3EB6D2;
  padding-left: 25px;
}


 .Logout{
  border: 1px transparent none;
  background-color: transparent;
  font-weight: 800;
  color: #3EB6D2;
  padding-left: 25px;
}


#root > div > header > div{
  height: 112px;
}

#root > div > header > div > img{
  height: 220px;
  bottom: 3px;
  position: relative;
}


@media screen and(max-width: 768px) {
  #root > div > header{
    /* text-decoration: none; */
    background-color: steelblue;
    padding-left: 25px;
  }

  #root > div > header > div {
    margin-top: 0px;
    height: 95px;
  }

  #root > div > header > div > img{
    height: 192px;
    width: 210px;
  }
}